/* Style the search field */
form.example input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: 0px;
    border-radius: 5px;
    float: left;
    width: 80%;
    background: #ffffff;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #f321a6;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    border: 0px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #e600cf;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .sugar{
    padding-top: 5px; text-align: center; 
    color: rgba(27, 27, 27, 0.759); 
    background-image: linear-gradient(-90deg, rgb(241, 161, 161) 95%,rgb(113, 7, 7) 50%);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }
  .sugar:hover{
    background-image: linear-gradient(-90deg, rgb(192, 106, 106) 95%,rgb(113, 7, 7) 50%);
  }
  .pressure{
    transition: 0.3s;
    cursor: pointer;
    padding-top: 5px; text-align: center; color: rgba(27, 27, 27, 0.759); background-image: linear-gradient(-90deg, rgb(238, 161, 241) 95%,
                      rgb(188, 0, 135) 50%); border-radius: 5px;
  }
  .pressure:hover{
    background-image: linear-gradient(-90deg, rgb(208, 124, 211) 95%,
    rgb(188, 0, 135) 50%); border-radius: 5px;

  }

  i{
    font-size: 25px;
  }

  .staffTable {
    margin: 0px auto;
      width: 95%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
    }
  .staffTableTop{
      width: 95%;
  }
  
  th{
    font-size: bold;
    color: #6575eb;
    background-color: #dde2f4d5;
  }
  mat-paginator{
    font-size: bold;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  mat-tab-group{
    height: 55vh;
  }