<br>
<div class="container staffTableTop">
  <div class="row">
    <div class="col-sm-6">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Date</mat-label>
            <mat-select (change)="applyFilter1($event)">
              <mat-option *ngFor="let appointment of appointments" value="{{appointment.appointmentDate}}">{{appointment.appointmentDate}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field fxFlex="100%">
        <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Filter" >
      </mat-form-field>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row justify-content-between text-left">
    <div class="col-md-3">
        <br>
        <div class="row justify-content-between text-left" style="width: 95%; margin:0% auto;">
          <div class="col-md-12 " style=" padding-top: 5px; text-align: center; color: rgba(27, 27, 27, 0.759); background-image: linear-gradient(-90deg, rgb(161, 241, 184) 95%,
          rgb(13, 87, 22) 50%); border-radius: 5px;">
            <p>Total Appointment</p>
            
            <h4>{{totalAppointmentAccept?.length}}</h4>
          </div>
        </div>
    </div>
    <div class="col-md-9">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 staffTable">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
     
        <ng-container matColumnDef="patientName">
          <th mat-header-cell *matHeaderCellDef> Patient Name </th>
          <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="patientNic">
          <th mat-header-cell *matHeaderCellDef>Patient NIC </th>
          <td mat-cell *matCellDef="let element"> {{element.patientNic}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="appointmentDate">
          <th mat-header-cell *matHeaderCellDef> date </th>
          <td mat-cell *matCellDef="let element"> {{element.appointmentDate}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="appointmentTime">
          <th mat-header-cell *matHeaderCellDef> Time </th>
          <td mat-cell *matCellDef="let element"> {{element.appointmentTime}} </td>
        </ng-container>
    
        <ng-container matColumnDef="injury">
            <th mat-header-cell *matHeaderCellDef> Injury </th>
            <td mat-cell *matCellDef="let element"> {{element.injury}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> 
                <p *ngIf="element.status=='cancel'" style="color: red;">{{element.status}}</p> 
                <p *ngIf="element.status=='pending'" style="color: rgb(37, 78, 227);">{{element.status}}</p> 
                <p *ngIf="element.status=='accept'" style="color: rgb(0, 255, 13);">{{element.status}}</p> 
            </td>
          </ng-container>
    
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
       
          <button mat-icon-button  matTooltip="View">
       
            <mat-icon style="color:rgb(0, 66, 128)" (click)="onEdit(element)">visibility</mat-icon>
          
          </button>

    
        </td>
      </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements" class="staffTable">
    </mat-paginator>
    </div>
  </div>
</div>


<br><br>