<div class="row justify-content-between text-left">
    <div class="form-group col-sm-8 flex-column d-flex">   <h2 mat-dialog-title>Upload Pressure Details</h2></div>
    <div class="form-group col-sm-4 flex-column d-flex"> 
        <button  mat-raised-button color="warn"[mat-dialog-close]>X</button> </div>
</div>
<mat-dialog-content class="mat-typography">
    <form class="form-card"  [formGroup]="userService.bloodPressure" (submit)="onSubmit()">
        <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label for="">Pressure Level</label></div>
            <div class="form-group col-sm-6 flex-column d-flex"> 
                <input type="number" id="pressureLevel" formControlName="pressureLevel" placeholder="Pressure Level"> 
                <span class="help-block" *ngIf="userService.bloodPressure.controls['pressureLevel'].invalid && userService.bloodPressure.controls['pressureLevel'].touched">Please Enter Valid Pressure Level !</span>
            </div>
        </div>
        <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label for="">Date</label></div>
            <div class="form-group col-sm-6 flex-column d-flex">  
                <input type="date" id="nchackDate" formControlName="nchackDate" > 
                <span class="help-block" *ngIf="userService.bloodPressure.controls['nchackDate'].invalid && userService.bloodPressure.controls['nchackDate'].touched">Please Enter Valid Date!</span>
            </div>
        </div>

                <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-6 flex-column d-flex">   <button  mat-raised-button color="warn"[mat-dialog-close]>Cancel</button> </div>
                    <div class="form-group col-sm-6 flex-column d-flex"> 
                        <button type="submit" mat-raised-button color="primary"  [mat-dialog-close]="true" [disabled]="userService.bloodPressure.invalid" >Update Info</button> </div>
                </div>
             
        
    </form>
</mat-dialog-content>

