mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  button {
    outline: none;
    border: 0;
    background: transparent;
  }
  .user {
    font-size: 14px;
  }
  mat-toolbar {
    background: #f7f7f7;
  }
  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    &-icon {
      height: 18px;
      font-size: 16px;
    }
  }
  
  ::ng-deep {
    .mat-menu-content {
      width: 160px;
    }
  }

  mat-tab-group{
      height: 89vh;
      background-color: #e7f0fdd4
  }

  mat-tab-label mat-tab-label{
    background: #006eff;
  }

  
  .staffTable {
    margin: 0px auto;
      width: 95%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.589);
    }
  .staffTableTop{
      width: 95%;
  }
  
  th{
    font-size: bold;
    color: #6575eb;
    background-color: #dde2f4d5;
  }
  mat-paginator{
    font-size: bold;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

