
<div class="i_section">
    <div class="row ">
        <div class="col-md-3 i_first">
            <h1 style="text-align: center;font-size: 58px;color: white;letter-spacing: 10px;font-weight: bold;margin-top: 10px;">H <span style="font-size: 48px;">HI</span> S</h1>
            <p style="text-align: center;color: rgb(223, 223, 223);">HEALTH AND HOSPITAL INTELLIGENT SYSTEM</p>
            <div class="hos_img">
                <img src="../assets/image/hos1.png" alt="">
            </div>
        </div>
        <div class="col-md-9 i_secend">

            <div class="covid">
                <p>Covid 19 | New Cases <span style="color: rgb(255, 181, 71);">{{response?.local_new_cases}}  </span> |
                    New Death <span style="color: red;">{{response?.local_new_deaths}}  </span> |
                    Total Recovered <span style="color: green;">{{response?.local_recovered}}  </span></p>
            </div>

            <div class="login">
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#LoginModal" ><i class="fas fa-sign-in-alt"></i>
                    <span> Login</span></button>
            </div>

            <div class="box" >
                <div class="row">
                    <div class="col-md-5 bx" style=" background-image: linear-gradient(to left, rgb(255, 50, 50),
                    rgb(194, 0, 0));cursor: pointer;" data-toggle="modal" data-target="#HospitalModal">
                        Hospital Registration
                        <h1><i class="fas fa-hospital-user"></i></h1>
                    </div>
                    <div class="col-md-5 bx" style=" background-image: linear-gradient(to left, rgb(0, 163, 95),
                    rgb(3, 94, 48));cursor: pointer;" (click)="openUser()" >
                        User Registration
                        <h1><i class="fas fa-user-plus"></i></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 bx">Doctor Registration
                        <h1><i class="fas fa-user-md"></i></h1>
                    </div>
                </div>
            </div>
           
            <div class="heartgif" >  <img src="../assets/gif/heart.gif" alt="">
           <span> About Us</span> </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div id="LoginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      
            <div class="modal-header" style="background-color: #1368d6;color: #FFFFFF;">
                <h5 class="modal-title" id="exampleModalScrollableTitle">HHIS Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <div class="modal-body">
  <div>   
    <div class="form-container sign-in-container">
        <form [formGroup] = "loginForm" (ngSubmit)="login()" class="form1">
            <h1 style="text-align: center;">Login</h1>
            
            <p id="error" style="color: red;">{{loginError}}</p>	
            
            <input type="text" formControlName="username" placeholder="User ID" /> 
            <span *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="text text-danger">
                username is required.
            </span>
                <input type="password" formControlName="password" placeholder="Password" /> 
                <span *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text text-danger">
                    Password is required
                </span>
                <a href="#">Forgot your password?</a>
            <button [disabled]="loginForm.pristine || loginForm.invalid" name="login" id="login" type="submit">Login</button>
        </form>
    </div>
    
    </div>
        </div>
    </div>
  </div>
  </div>

  <!-- Hospital Modal -->
<div id="HospitalModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      
            <div class="modal-header" style=" background-image: linear-gradient(to left, rgb(255, 50, 50),
            rgb(194, 0, 0));color: #FFFFFF;">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Hospital registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <div class="modal-body">
  <div>   
    <div class="form-container sign-in-container">
        <form [formGroup] = "loginForm" (ngSubmit)="login()" class="form1">
            
            <p id="error" style="color: red;">{{loginError}}</p>	
            
            <input type="text" formControlName="username" placeholder="User ID" /> 
            <span *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)" class="text text-danger">
                username is required.
            </span>
                <input type="password" formControlName="password" placeholder="Password" /> 
                <span *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="text text-danger">
                    Password is required
                </span>
                <a href="#">Forgot your password?</a>
            <button [disabled]="loginForm.pristine || loginForm.invalid" name="login" id="login" type="submit">Login</button>
        </form>
    </div>
    
    </div>
        </div>
    </div>
  </div>
  </div>
