:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 260px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #4c6297;
  }

  .body{
    background-image: linear-gradient(90deg, rgb(239, 244, 246) 100%,
  rgb(3, 29, 39) 50%);
  }