<div class="row justify-content-between text-left">
    <div class="form-group col-sm-6 flex-column d-flex">   <h2 mat-dialog-title>My Profile</h2></div>
    <div class="form-group col-sm-6 flex-column d-flex"> 
        <button  mat-raised-button color="warn"[mat-dialog-close]>X</button> </div>
</div>

<div class="container">
   

    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-8 flex-column d-flex">   
            <p style="color: rgb(0, 89, 255);">Name</p>
            <h2 mat-dialog-title>{{dataSet?.name}}</h2>
        </div>
        <div class="form-group col-sm-4 flex-column d-flex">  
            <p style="color: rgb(255, 0, 179);">Joined Date</p>
             <h3 mat-dialog-title>{{dataSet?.joindDate}}</h3>
        </div>
    </div>
    
    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-4 flex-column d-flex">
            <p>NIC</p>
            <h3 mat-dialog-title>{{dataSet?.nic}}</h3>
        </div>
        <div class="form-group col-sm-4 flex-column d-flex">
            <p>Gender</p>
            <h3 mat-dialog-title>{{dataSet?.gender}}</h3>
        </div>
        <div class="form-group col-sm-4 flex-column d-flex">
            <p>Phone Number</p>
            <h3 mat-dialog-title>{{dataSet?.phoneNo}}</h3>
        </div>
    </div>

    <div class="row justify-content-between text-left">
        <div class="form-group col-sm-6 flex-column d-flex">
            <p>Address</p>
            <h3 mat-dialog-title>{{dataSet?.address}}</h3>
        </div>
        <div class="form-group col-sm-4 flex-column d-flex">
            <p>DOB</p>
            <h3 mat-dialog-title>{{dataSet?.dob}}</h3>
        </div>
    </div>
</div>
