<div class="container">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" class="input">
                <mat-label>Search District</mat-label>
                <select matNativeControl name="hospitalDistrict" [(ngModel)]="hospitalDistrict" (change)="searchByHospitalDistrict()">
                  <option value="" selected>Any</option>
                  <option value="Ambalangoda">Ambalangoda</option>
                  <option value="Ampara">Ampara</option>
                  <option value="Anuradapura">Anuradapura</option>
                  <option value="Avissawella">Avissawella</option>
                  <option value="Bandaragama">Bandaragama</option>
                  <option value="Badulla">Badulla</option>
                  <option value="Balangoda">Balangoda</option>
                  <option value="Bandarawela">Bandarawela</option>
                  <option value="Battaramulla">Battaramulla</option>
                  <option value="Batticaloa">Batticaloa</option>
                  <option value="Beruwala">Beruwala</option>
                  <option value="Boralesgamuwa">Boralesgamuwa</option>
                  <option value="Chavakacheri">Chavakacheri</option>
                  <option value="Chilaw">Chilaw</option>
                  <option value="Colombo">Colombo</option>
                  <option value="Daluguma">Daluguma</option>
                  <option value="Dambulla">Dambulla</option>
                  <option value="Dehiwala-Mount-Lavinia">Dehiwala-Mount-Lavinia</option>
                  <option value="Divulapitiya">Divulapitiya</option>
                  <option value="Dompe">Dompe</option>
                  <option value="Eheliyagoda">Eheliyagoda</option>
                  <option value="Embilipitiya">Embilipitiya</option>
                  <option value="Eravur">Eravur</option>
                  <option value="Galle">Galle</option>
                  <option value="Gampaha">Gampaha</option>
                  <option value="Gampola">Gampola</option>
                  <option value="Hambantota">Hambantota</option>
                  <option value="Haputale">Haputale</option>
                  <option value="Harispattuwa">Harispattuwa</option>
                  <option value="Hatton">Hatton</option>
                  <option value="Hendala">Hendala</option>
                  <option value="Homagama">Homagama</option>
                  <option value="Horana">Horana</option>
                  <option value="Ja-Ela">Ja-Ela</option>
                    <option value="Jaffna">Jaffna</option>
                    <option value="Kadawatha">Kadawatha</option>
                    <option value="Kadugannawa">Kadugannawa</option>
                    <option value="Kaduwela">Kaduwela</option>
                    <option value="Kalawana">Kalawana</option>
                    <option value="Kalmunai">Kalmunai</option>
                    <option value="Kalutara">Kalutara</option>
                    <option value="Kandana">Kandana</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Kattankudy">Kattankudy</option>
                    <option value="Katunayake">Katunayake</option>
                    <option value="Kegalle">Kegalle</option>
                    <option value="Kelaniya">Kelaniya</option>
                    <option value="Kesbewa">Kesbewa</option>
                    <option value="Keselwatta">Keselwatta</option>
                    <option value="Kilinochchi">Kilinochchi</option>
                    <option value="Kiribathgoda">Kiribathgoda</option>
                    <option value="Kolonnawa">Kolonnawa</option>
                    <option value="Kotikawatta">Kotikawatta</option>
                    <option value="Kotte">Kotte</option>
                    <option value="Kottawa">Kottawa</option>
                    <option value="Kuliyapitiya">Kuliyapitiya</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Maharagama">Maharagama</option>
                    <option value="Mahiyanganaya">Mahiyanganaya</option>
                    <option value="Malabe">Malabe</option>
                    <option value="Mannar">Mannar</option>
                    <option value="Matale">Matale</option>
                    <option value="Matara">Matara</option>
                    <option value="Matugama">Matugama</option>
                    <option value="Mawanella">Mawanella</option>
                    <option value="Minuwangoda">Minuwangoda</option>
                    <option value="Mirigama">Mirigama</option>
                    <option value="Moneragala">Moneragala</option>
                    <option value="Moratuwa">Moratuwa</option>
                    <option value="Mullaitivu">Mullaitivu</option>
                    <option value="Mulleriyawa">Mulleriyawa</option>
                    <option value="Nawalapitiya">Nawalapitiya</option>
                    <option value="Negombo">Negombo</option>
                    <option value="Nittambuwa">Nittambuwa</option>
                    <option value="Nuwara-Eliya">Nuwara-Eliya</option>
                    <option value="Nugegoda">Nugegoda</option>
                    <option value="Padukka">Padukka</option>
                    <option value="Panadura">Panadura</option>
                    <option value="Pannipitiya">Pannipitiya</option>
                    <option value="Peliyagoda">Peliyagoda</option>
                    <option value="Piliyandala">Piliyandala</option>
                    <option value="Polgahawela">Polgahawela</option>
                    <option value="Polonnaruwa">Polonnaruwa</option>
                    <option value="Puttalam">Puttalam</option>
                    <option value="Ragama">Ragama</option>
                    <option value="Ratnapura">Ratnapura</option>
                    <option value="Seethawakapura">Seethawakapura</option>
                    <option value="Sigiriya">Sigiriya</option>
                    <option value="Talawakele">Talawakele</option>
                    <option value="Tangalle">Tangalle</option>
                    <option value="Trincomalee">Trincomalee</option>
                    <option value="Valvettithurai">Valvettithurai</option>
                    <option value="Vavuniya">Vavuniya</option>
                    <option value="Wattala">Wattala</option>
                    <option value="Wattegama">Wattegama</option>
                    <option value="Warakapola">Warakapola</option>
                    <option value="Weligama">Weligama</option>
                    <option value="Welimada">Welimada</option>
                    <option value="Welisara">Welisara</option>
                </select>
              </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Search Hospital Name</mat-label>
            <input matInput type="text" name="hospitalName" [(ngModel)]="hospitalName" (input)="searchByHospitalName()">
          </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="input" appearance="fill">
            <mat-label>Search Hospital City</mat-label>
            <input matInput type="text" name="hospitalCity" [(ngModel)]="hospitalCity" (input)="searchByHospitalCity()">
          </mat-form-field>
    </div>
</div>

        <div class="row ">
            <div class="col-md-4 hos" *ngFor="let hospital of hospitals" (click)="getAppointment(hospital.hos_name)">
              <div class="card-counter primary">
                <i class="fa-solid fa-hospital"></i>
                <span class="count-numbers">{{hospital.hos_name}}</span>
                <span class="count-name">Hospital visit</span>
              </div>
            </div>
        </div>
</div>
